version: '3'

services:
  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=dart_jaguar
    ports:
      - '5432:5432'
    volumes:
      - pg-data:/var/lib/postgresql/data

volumes:
  pg-data:

